
/*google font import*/

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/*css variable*/
:root{
    --primary-font:"Inter",sans-serif;
    --secondary-font:"Macondo",cursive;
    --primary-color:#3a2620;/*dark braown*/
    --secondary-color:#aa9581/*light brown*/;
    --highlight-color:#416a8e;/*Dark blue*/
    --highlight-color-light:#7a9fc2;/*light blue*/
}
/*Global style*/
body{
    font-family: var(--primary-font);
}
/*Heading style*/
h1,
h2,
h3{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    
}
h1,h2{
    
    text-transform: uppercase;
}
h2{
    margin-bottom: 2rem;
}

.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/*
p{
    border: 2px solid var(--primary-color);
}*/
.sub-heading-color{
    color: var(--highlight-color);
}
/*Nav-bar css*/
#nav-bar{
    background-color: var(--primary-color);
}
#nav-bar .logo{
    width: 30px;
}
/*Header css*/
#header.lead{
    font-family: var(--secondary-font);
}
/*Serviece section*/
#serviece .card-footer{
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;

}
#serviece .card{
    margin-bottom: 1.5rem;
}

/*grid visualization css for testing
.container,.row{
    border: 2px solid black;
}
.col-12{
    border: 2px solid white;
    background-color: lightgrey;
}*/
/* Game library cards */

#new-games .card,
#fav-games .card {
    border: none;
}
/* footer / Contact */
#contact{
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}
#contact h2{
    color: white;
}
#contact .sub-heading-color{
    color: var(--highlight-color-light);
    
}
#contact i{
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}
#contact .social-links i{
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}
#contact .social-links i:hover{
    color: var(--secondary-color);
}

/*media query for servieces card height setting*/
@media screen and (min-width:768px) {
    #serviece .card-body{
        min-height: 191px;
    }
    
}
/*media query for large screen,*/

@media screen and (min-width:992px) {
    #serviece .card-body{
        min-height: auto;
    }
    
}
@media screen and (min-width:1200px) {
    #serviece .card-body{
        min-height: 220;
    }
    
}
@media screen and (min-width:1400px) {
    #serviece .card-body{
        min-height: 195;
    }
    
}